/* footer */

.footer {
  background-color: $bg-secondary;
  padding-top: 60px;
  padding-bottom: 60px;
  &__inner {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
  &__text {
    font-weight: 700;
    font-size: $font-size-primary;
    line-height: calc(16 / 14);
    letter-spacing: $letter-spacing-primary;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: $letter-spacing-primary;
  color: #ffffff;
  &--part {
    color: #2196f3;
  }
}

.footer-contact {
  font-style: normal;
  margin-top: 20px;
  &__item:not(:first-child) {
    margin-top: 9px;
  }
  &__map {
    font-size: $font-size-primary;
    line-height: calc(24 / 14);
    letter-spacing: $letter-spacing-primary;
    color: #ffffff;
  }
  &__mail,
  &__tel {
    font-size: $font-size-primary;
    line-height: calc(24 / 14);
    letter-spacing: $letter-spacing-primary;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-connect {
  margin-left: 70px;
}
.footer-social {
  display: flex;
  justify-content: start;
  align-items: center;
  &__sign {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: $transition-duration-primary;
  transition-timing-function: $transition-timing-function-primary;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-form {
  margin-left: 93px;
  position: relative;
  &__input {
    width: 358px;
    min-height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: $border-radius-primary;
    margin-right: 12px;
    font-size: $font-size-secondary;
    line-height: calc(20 / 16);
    letter-spacing: $letter-spacing-primary;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    outline: none;
  }
  &__button {
    width: 200px;
    min-height: 50px;
    font-weight: 700;
    font-size: $font-size-secondary;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: $accent-color;
    border-radius: $border-radius-primary;
  }
  &__send {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    vertical-align: middle;
    margin-left: 10px;
  }
}
