$bg-primary: #ffffff;
$bg-secondary: #2f303a;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$font-size-primary: 14px;
$font-size-secondary: 16px;
$section-title: 36px;
$letter-spacing-primary: 0.03em;
$transition-duration-primary: 250ms;
$transition-timing-function-primary: cubic-bezier(0.4, 0, 0.2, 1);
$width-container: 1200px;
$border-radius-primary: 4px;
